.root {
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

.topMenu {
    -fx-background-color: #A1D6F9;
}

.MenuBox:hover {
    -fx-cursor: hand;
}


.ToolBarMain {
    -fx-background-color: #57b5f4;
    -fx-effect: innershadow(gaussian, #095a90, 5, 0.2, 0, 2);
}

.ToolBox Button {
    -fx-background-color: #57b5f4;
}

.ToolBox Button:hover {
    -fx-background-color: #0f96f0;
    -fx-cursor: hand;
}

.ToolBox ToggleButton {
    -fx-background-color: #57b5f4;
    -fx-text-fill: #141b1f;
}

.ToolBox ToggleButton:hover {
    -fx-background-color: #0f96f0;
    -fx-cursor: hand;
}

.ToolBox ToggleButton:selected {
    -fx-background-color: #0f96f0;

}

.ToolBox ComboBox {
    -fx-background-color: #3fabf3;
    -fx-text-fill: #141b1f;
}

.ToolBox ComboBox:hover {
    -fx-background-color: #0f96f0;
}

.descText {
    -fx-background-color: #ff0017;
    -fx-text-fill: #141b1f;
}

.descText .content {
    -fx-background-color: #4d99cb;
    -fx-effect: innershadow(gaussian, #3E217F, 5, 0.2, 0, 2);
}

.bold {
    -fx-font-weight: bold;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #94ccff;
}

.list-cell:filled:hover {
    -fx-background-color: #4dabf5;
}